@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card-body">
            <h1 class="display-4 mt-5">Welcome To DUET CS OJ</h1>
            <p class="border-top mt-5">Working on bringing the tech skill gap and new world problem solving and addressing gap down, locally at DUET, Gazipur.</p>
        </div>
    </div>

    <div class="card mb-5 mt-5">
        <div class="card-status" style="background-color: #22a295; height: 3px"></div>
        <h4 class="card-header py-3" style="text-align: left"><i class="bi bi-file-earmark-code-fill"></i>&nbsp; Problems</h4>
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Submission</th>
                        <th>Accepted</th>
                        <th>Problem Setter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">Greetings From DUETCS OJ</a>
                        </td>
                        <td>50</td>
                        <td>46</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">
                                S.R. Shuva Dev
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>19</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">Fibsieve's Fantabulous Birthday</a>
                        </td>
                        <td>50</td>
                        <td>46</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">
                                S.R. Shuva Dev
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>18</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">Trailing Zeroes (I)</a>
                        </td>
                        <td>50</td>
                        <td>46</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">
                                Sakib Hasan
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>17</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">Trailing Zeroes (2)</a>
                        </td>
                        <td>50</td>
                        <td>46</td>
                        <td>
                            <a class="card-link" href="#" style="text-decoration: none">
                                Ridoy
                            </a>
                        </td>
                    </tr>
                    

                </tbody>
            </table>
        </div>
        <div class="card-footer">

            <a class="btn btn-lg btn-primary" href="#"><i class="bi bi-file-earmark-code-fill"></i>&nbsp;All Problems</a>
        </div>
    </div>
    
</div>
